<!doctype html>
<html dir="auto" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superdesk - Author Approval</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ css_file_path }}" />
    </head>
    <body style="background-color: #fff; overflow: auto; margin: 2rem 4rem;">
        {% include "sign_off_approval_modal_form.html" %}
    </body>
</html>
