<!doctype html>
<html dir="auto" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superdesk - Author Approval</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ css_file_path }}" />
    </head>
    <style>
    .content-item-preview .content .core-content img {
        max-width: 100%;
    }

    .p-chips-multiple-container {
        min-height: 32px;
    }

    .html-preview {
        padding: 1.6rem 1.6rem 0 1.6rem;
        min-height: 5.6rem;
        border: 2px solid var(--color-input-border);
        border-radius: var(--b-radius--large);
    }

    a:focus {
        outline: 1px solid var(--sd-colour-interactive);
    }
    </style>
    <body>
        <div class="sd-page-grid">
            <header class="sd-top-menu">
                <span class="sd-top-menu__collapse-nav" style="cursor: unset"></span>
                <p class="sd-top-menu__header">Author Approval</p>
            </header>
            <section class="sd-content sd-content-wrapper sd-content-wrapper--editor-full">
                <div class="sd-sidebar-menu sd-content-wrapper__left-tabs">
                    <ul class="authoring-active">
                        <li data-flow="right">
                            <a class="sd-sidebar-menu__btn">
                                <span class="sd-sidebar-menu__main-icon">
                                    <i class="big-icon--view" aria-label="view"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                {% if token_error %}
                    <div class="sd-margin-t--1 sd-margin-l--2">
                        <h1>An error has occurred.</h1>
                        {% if token_error == "no_token" %}
                            <p class="lead">Token not provided, invalid URL</p>
                        {% elif token_error == "expired" %}
                            <p class="lead">Token has expired. Please contact your administrator.</p>
                        {% elif token_error == "invalid" %}
                            <p class="lead">Invalid token. Please make sure you have the correct URL.</p>
                        {% else %}
                            <p class="lead">Failed to process token: {{ token_error }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    {% include "sign_off_approval_content_preview.html" %}
                {% endif %}

            </section>
            <footer class="sd-bottom-bar"></footer>
            {% if not token_error %}
                {% include "sign_off_approval_modal.html" %}
            {% endif %}
        </div>
    </body>
</html>
