<!doctype html>
<html dir="auto" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superdesk - Author Approval</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ css_file_path }}" />
    </head>
    <body>
        <div class="sd-page-grid">
            <header class="sd-top-menu">
                <span class="sd-top-menu__collapse-nav" style="cursor: unset"></span>
                <p class="sd-top-menu__header">Author Approval</p>
            </header>
            <section class="sd-content sd-content-wrapper sd-content-wrapper--editor-full">
                <div class="sd-sidebar-menu sd-content-wrapper__left-tabs">
                    <ul class="authoring-active">
                        <li data-flow="right">
                            <a class="sd-sidebar-menu__btn">
                                <span class="sd-sidebar-menu__main-icon">
                                    <i class="big-icon--view" aria-label="view"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sd-margin-t--1 sd-margin-l--2">
                    <h3>Congratulations</h3>
                    <p class="lead">Your approval has been sent.</p>
                </div>
            </section>
            <footer class="sd-bottom-bar"></footer>
        </div>
    </body>
</html>
