gunicorn>=20.0.4,<20.1
honcho==1.0.1

-e git+git://github.com/superdesk/superdesk-core.git@50c05a6#egg=superdesk-core
-e git+git://github.com/superdesk/superdesk-planning.git@3be62ac#egg=superdesk-planning
superdesk-analytics==2.1.2
