gunicorn>=20.0.4,<20.1
honcho==1.0.1
slackclient==1.0.9

git+https://github.com/superdesk/superdesk-core.git@hotfix/2.6.8#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v2.6.3-rc1#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics@v2.6.0#egg=superdesk-analytics
