gunicorn>=20.0.4,<20.1
honcho==1.0.1
slackclient==1.0.9

git+https://github.com/superdesk/superdesk-core.git@hotfix/2.4.6#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v2.4.1#egg=superdesk-planning
superdesk-analytics==2.1.2
